.channel {
    margin: auto;
    padding: 0%;
    height: 100%;
    background-color: rgb(20, 20, 20);
}

.channel-box {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
}

.channel-main {
    height: 100%;
    margin-left: 260px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(20, 20, 20);
}

.channel-main h1 {
    color: white;
}

.channel-card-info {
    margin: 15px;
    padding: 5px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.channel-card-info h4 {
    padding: 5px;
    text-align: center;
    display: flex;
    font-weight: lighter;
}

.channel-card-title {
    color: white;
    padding: 5px;
}

.channel-card-body {
    color: white;
    margin-top: 0%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
}

