.App {
    height: auto;
    width: 100%;
    margin: auto;
    padding: 0%;
  }
  
  .appchild {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
  }  
  
  
  
  .cards {
    height: auto;
    width: 809px;
    position: relative;
    margin-left: 265px;
  }
  
  .card {
    margin: 0%;
    padding: 0px 10px;
  }

  .card h5,h6, p {
    color: white;
  }
  
  .recents {
    background-color: rgb(37, 37, 37);
    width: 255px;
    height: auto;
    float: right;
    display: flex;
    border-left: 1px solid white;
  }
  
  .recents h6 {
    text-align: left;
    color: white;
    padding: 10px;
  }
  
  .recentscard {
    color: #4b4646;
    margin: 5px;
  }
  
  .recentcard h5 {
    text-align: left;
    color: white;
    padding-left: 10px;
    margin: 0px;
  }
  
  .recentcard p {
    text-align: left;
    color: white;
    padding-left: 10px;
    margin: 5px;
  }