.navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 20, 20);
    height: 60px;
    border-bottom: 1px solid white;
  }
  
  .navbar-left {
    margin: 0%;
    padding: 0%;
  }
  
  .navbar-left :link {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .navbar-right h3   {
    text-decoration: none;
    color: white;
    display: inline-block; /* Make the link behave like a block element */
    padding: 10px 20px; /* Add padding for the background */
    border-radius: 5px; /* Create rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }

  .navbar-right p {
    text-decoration: none;
    color: white;
    display: inline-block; /* Make the link behave like a block element */
    padding: 10px 20px; /* Add padding for the background */
    border-radius: 5px; /* Create rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }
  
  .profile-icon {
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    margin-right: 15px; /* Add spacing from the "Create" link */
  }

  .search-bar {
    color: white;
    width: 500px; /* Stretch search bar to full width of its section */
    height: 45px;
    padding: 0.5rem 1rem; /* Add padding for text */
    border: 1px solid #ccc;
    border-radius: 50px; /* Create rounded corners */
    background-color: rgb(49, 49, 49);
  }