.navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d5358;
    height: 60px;
    
  }
  
  .navbar-left {
    margin: 0%;
    padding: 0%;
  }
  
  .navbar-left a  {
    text-decoration: none;
    color: inherit;
    display: inline-block; /* Make the link behave like a block element */
    padding: 10px 20px; /* Add padding for the background */
    border-radius: 5px; /* Create rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }
  
  .navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .navbar-right a  {
    text-decoration: none;
    color: inherit;
    display: inline-block; /* Make the link behave like a block element */
    padding: 10px 20px; /* Add padding for the background */
    border-radius: 5px; /* Create rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }
  
  .profile-icon {
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    margin-right: 15px; /* Add spacing from the "Create" link */
  }