  .sidebar {
    width: 255px;
    position: absolute;
    border-right: 1px solid white;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
    display: inline-block; /* Make the link behave like a block element */
    padding: 10px 20px; /* Add padding for the background */
  }
  
  .channel h4 {
    color: white;
    padding-left: 60px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 1px solid white;
  }